// BARRE MENU
nav {
    width: 70vw;
    height: 40px;
    padding-top: 40px;

    ul {
        display: flex;
        justify-content: space-evenly;
    }
}

li {
    list-style: none;
}

#BarreMenu {
    position: fixed;
    z-index: 5;
    padding-top: 10px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    bottom: 5px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7322233606557378) 51%, rgba(0, 0, 0, 0.014190573770491821) 95%);

    .menu li {
        width: 200px;
        height: 90px;
        text-align: right;
        background-image: url(../img/icon.png);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;

        a {
            text-decoration: none;
            color: wheat;
            font-family: "goblin";
            padding-left: 100px;
            padding-top: 60px;

        }

        &::after {
            content: "";
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            left: 30px;
            bottom: 40px;
            background-image: url(../img/icon.png);
            background-position: center;
            background-repeat: none;
            background-size: cover;
        }
        &:hover{
            &::after{
                background-color: yellow;
            }
        }
    }
}

// FAIRE APPARAITRE LA BARRE MENU LORS D'UN CLICK
.menu {
    width: 70%;
    opacity: 0; // le menu est invisible par défaut
    visibility: hidden; //empêche d'interagir avec le menu quand il est caché
    transition: opacity 0.3 ease-in-out, visibility 0.3 ease-in-out; //transition fluid pour l'opacité
}

.menu.showMenu {
    opacity: 1; // rendre le menu visible
    visibility: visible; // le menu devient interactif
}

// MENU HAMBURGER
#hamburger {
    width: 100px;
    height: 100px;
    background-image: url("../img/iconMenu.png");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: relative;
    padding-bottom: 10px;

    &:hover {
        li {
            &:first-of-type {
                transform: rotate(45deg) translate(-5px, 10px);
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:last-of-type {
                transform: rotate(-45deg) translate(5px, -21px);
            }

            cursor: pointer;
        }
    }
}

#hamburger ul {
    width: 30px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 30px;
}

#hamburger li {
    width: 40px;
    height: 5px;
    background-color: wheat;
    margin: 5px;
    position: relative;
    transition: all 1s ease;
}