section {
    position: relative;
    overflow: hidden;
}

//PARENT = EFFET OMBRE AVEC UN ::AFTER
h2 {
    color: orange;
    text-align: center;
    padding: 60px;
    font-size: 40px;
    position:relative;
    z-index: 2;
}

// LE TITRE + OMBRE
section:first-of-type h2::after{
    content: "LA CHASSE EST OUVERTE";
    font-family: "goblin";
    position: absolute;
    z-index: -1;
    font-size: 70px; 
    color: aliceblue;  
    opacity: 0.2; 
    left: 50px;
    right: 50px;
    top: 50px;
}

h3,
p {
    color: wheat;
    padding-bottom: 30px;
}

h2,
h3 {
    font-family: "goblin";
}

.ZoneText{
    width: 30%;
    position: absolute;
    right: 60px;
    top: 400px;
}